<p id="notice"><%= notice %></p>
<div class="show">
<p>
  <strong>タイトル</strong>
  <%= @calendar.title %>
</p>

<p>
  <strong>内容</strong>
  <%= @calendar.content %>
</p>

<p>
  <strong>日時</strong>
  <%= @calendar.start_time.strftime("%m-%d") %>
</p>

<%= link_to '編集', edit_calendar_path(@calendar) %>
<%= button_to '消去', calendar_path(@calendar.id), method: :delete, data: { confirm: '本当に?' } %>
<%= button_to '戻る', calendar_path %>
</div>